.nav-bar {
	position: relative;
	height: 80px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(25, 25, 25);
	color: white;
	border-bottom: 1px solid rgb(52, 52, 52);
	padding: 20px;
	z-index: 100;
	

	.nav-bar__menu-button {
		background-image: url("../../public/assets/menu-button.svg");
		background-repeat: no-repeat;
		width: 25px;
		aspect-ratio: 1/1;
		color: #fff;
	}
	.nav-bar__logo {
		font-size: 2.4rem;
		font-weight: 700;
	}
	.nav-bar__cart {
		position: relative;
		width: 25px;
		aspect-ratio: 1/1;
		background-image: url("../../public/assets/cart.svg");
		background-repeat: no-repeat;

		.cart-circle {
			position: absolute;
			display: grid;
			place-items: center;
			bottom: -5px;
			right: -5px;
			width: 70%;
			transform: scale(100%);
			font-size: 1.2rem;
			font-weight: 900;
			border-radius: 50%;
			aspect-ratio: 1/1;
			background-color: orange;
			
		}
		.cart-circle--active {
			animation: circle-cart-animation .4s linear 1;
		}
	}
}
.navbar-menu {
	display: none;
}
.active {
	display: flex;
   align-items: center;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
   padding: 2em;
	background-color: #fff;

   li{
      padding: 0.5em 0;
      font-size: 1.6rem;
      // text-decoration: none;
    
   }
   
   .navLink{
      text-decoration: none;
   }
}


@keyframes circle-cart-animation {
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(70%);
	}
	100% {
		transform: scale(100%);
	}
}