.nav-bar {
	position: fixed;
	height: 80px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(25, 25, 25);
	color: white;
	border-bottom: 1px solid rgb(52, 52, 52);
	padding: 20px;
	z-index: 10;

	.nav-bar__menu-button {
		background-image: url("../../public/assets/menu-button.svg");
		background-repeat: no-repeat;
		background-position: center;
		width: 25px;
		aspect-ratio: 1/1;
		color: #fff;
		z-index: 2;
		text-align: center;
		transition: .4s;
	}
	.nav-bar__menu-button--active {
		background-image: url("../../public/assets/menu-exit-button.svg");
		color: white;
		width: 25px
		
	}
	.nav-bar__logo {
		font-size: 2.4rem;
		font-weight: 700;
	}
	.nav-bar__cart {
		position: relative;
		width: 25px;
		aspect-ratio: 1/1;
		background-image: url("../../public/assets/cart.svg");
		background-repeat: no-repeat;

		.cart-circle {
			position: absolute;
			display: grid;
			place-items: center;
			bottom: -5px;
			right: -5px;
			width: 70%;
			transform: scale(100%);
			font-size: 1.2rem;
			font-weight: 900;
			border-radius: 50%;
			aspect-ratio: 1/1;
			background-color: orange;
			
		}
		.cart-circle--active {
			animation: circle-cart-animation .2s linear 1;
		}
	}
}

.navbar-menu {
	display: flex;
   align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
	top: 100%;
	position: absolute;
	left: -100%;
	transition: left .3s;
	width: 200px;
	background-color: rgb(216, 124, 73);
	

	.menu-list {
		display: grid;
		width: 100%;
		padding: 5px;
   li{
      font-size: 1.6rem;
		margin: 5px;
		padding: 10px;
		border-bottom: rgba(206, 206, 206, 0.2) 1px solid;
		&:nth-last-of-type(1) {
			border-bottom: none;
		}
		cursor: pointer;
		&:hover {
			opacity: 1.2;
			background-color: #00000003;
			.navLink {
				margin-left: 2px;
			}
		}
		.navLink{
			width: 100%;
			color: rgb(255, 255, 255);
			font-weight: 400;
			text-decoration: none;
			text-transform: uppercase;
		}
   }
   
   
}
		
}
.active {
	z-index: 2;
	left: 0;
	}		


@keyframes circle-cart-animation {
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(70%);
	}
	100% {
		transform: scale(100%);
	}
}