.new-product {
   position: relative;
   display: flex;
   flex-wrap:wrap;
   align-content:center;
   justify-content: center;
   height: 60vh;
   background-color: rgb(25,25,25);
   z-index: -2;
   background: radial-gradient(65% 45% at center,rgb(52, 52,52),rgb(25,25,25));
   
   text-align: center;
   padding: 0 30px;
   .new-product__headphones{
      position: absolute;
      background-image: url('../../public/assets/headphones.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size:contain;
      width: 100%;
      height: 100%;
      z-index: -1;
      filter: brightness(0.4);
      opacity: 0.6;
   }
   div {
      text-transform: uppercase;
      letter-spacing: 3px;
      width: 100%;
      color: rgb(137, 137, 137);
      font-size: 1.6rem;
   }
   h2 {
      font-size: 3.4rem;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      padding: 20px 0;
   }
   p {
      color: rgb(206,206,206);
      font-size: 2.0rem;
      padding: 0 0 40px;
   }
   button {
      color: rgb(255, 255, 255);
      background-color: rgb(216,124,73);
      border: none;
      height: 45px;
      width:150px;
      text-transform: uppercase;
      font-weight: 600;
   }
}