.product {
   position: relative;
   width: 300px;
   height: 120px;
   background-color: rgb(241, 241, 241);
   margin: 80px 20px 0;
   border-radius: 10px;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 0.8px;
   .product__logo {
      position: relative;
      left: 50%;
      top: 0;
      transform: translate(-50%, -60%);
      width: 100px;
      height: 100px;
      // background-color: black;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform-style: preserve-3d;
      &::after{
         content: "";
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%) translateZ(-1px);
         display: block;
         width: 20%;
         height: 10%;
         border-radius: 50%;
         background-color: #444444; 
         box-shadow: 2px 2px 22px 20px #444444;
         opacity: 0.2;
      }
   }
   

   .product__name {
      position: absolute;
      bottom: 30%;
      left:50%;
      transform: translate(-50%,-50%);
      font-size: 1.6rem;
   }
   .product__button {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 80px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 1.4rem;
      color: rgb(131,131,131);
   span {
      display: block;
      width: 15px;
      aspect-ratio: 1/1;
      margin-left: 5px;
      background-image: url('../../public/assets/anglearrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: rotate(90deg)
   }
}
}