@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
// font-family: 'Lato', sans-serif;
// Light 300
// Regular 400
// Bold 700


@import './reset';
@import './_nav-bar.scss';
@import './FeaturesPage/new-product';
@import './FeaturesPage/products';
@import './FeaturesPage/product';
@import './FeaturesPage/product-details';

.app {
   width: 100%;
   // min-height: 100vh;
   font-family: 'Lato', sans-serif;
   button {
      font-family: 'Lato', sans-serif;
   }
   .navLink{
      text-decoration: none;
      color: white;
   }
}